# Virtual envs
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]

# Environment files
.env
configs/.env

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Large datasets
data/**/*.csv
data/**/*.tab
